*{
    box-sizing: border-box;
}
body{
    background-color: lawngreen;
}
.ul, ol {
    list-style: none;
}
.a{
    text-decoration: none;
}
.container{
    background-color: #fff;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right:20px;
}
.label,input{
    padding: 3px;
    margin: 10px;
}
input{
    display: block;
}
.inputblock{
    margin-left: auto;
margin-right: auto;
}